body{
    background-color:hsl(225, 100%, 94%);
  
margin:0;
padding: 0;
}
.backgrond{
width: 2000px;
height: 500px;
}
.main_div{
    height: 570px;
    width: 350px;
    background-color: aliceblue;
    position: absolute;
    top: 20%;
    left: 39%;
   border-radius: 3%;
}
.another{
    height: 190px;
    width: 350px;
    border-top-left-radius: 5%;
    border-top-right-radius:5%;
}
h3{
    margin-left: 100px;
    color: rgba(0, 0, 0, 0.829);
    font-family: sans-serif;
    font-size: 20px;
}
.title{
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}
.Annual{
height: 100px;
width: 300px;
background-color: rgba(164, 173, 189, 0.13);
margin: 7%;
position: relative;
top:-25px;
border-radius: 5%;
}
.music{
    margin-top: 25px;
    padding-left: 20px;   
}
.plan{
    position:absolute;
    top:20px;
    left: 80px;
}
a{
    position: absolute;
    right: 30px;
    bottom:40px;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
    color: hsl(245, 75%, 52%);
}
strong{
    color: rgba(156, 151, 151, 0.993);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.btn{
    height: 40px;
    width:280px;
    background-color:hsl(245, 75%, 52%);
    margin: 20px;
    margin-top: -20px;
    border-radius: 8px;
    margin-left: 35px;
}
i{
    font-style: normal;
    color: aliceblue;
    margin-left: 80px;
    position: relative;
    top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;

}
p{
    margin-left: 140px;
    
}
 /*
- Bright blue: hsl(245, 75%, 52%)
Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

*/